#div-logo {
    padding: 20px 80px;
}

* {
    font-family: Arial, sans-serif;
    color: rgb(40, 48, 63);
}

body {
    position: relative;
    z-index: 1;
    Background-color: rgb(255, 255, 255);
    margin: 30px;
    padding: 3px;
    border-radius: 10%;
    border-color: #353b3f;
    background-color: #ffffff;
}

.menu {
    background-color: rgb(255, 255, 255);
    list-style-type: none;
    display: flex;
    justify-content: space-between;
}

.nome-principal {
    background-color: rgb(219, 219, 219);
    border: 10px solid rgb(219, 219, 219);
    border-radius: 4px;
    margin-left: 30px;
}

.menu-de-guia {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    width: 500;
    background-color: rgb(255, 255, 255);
    margin-right: 20px;
}

.texto {
    display: inline-block;
    margin-left: 40px;
}

#texto-imagem {
    justify-content: center;
}

.nome-colorido {
    color: rgb(22, 157, 255);
}

.repositorios {
    display: flex;
    justify-content: center;
}

.img-repo1 {
    display: flex;
    width: 300px;
    margin-right: 60px;
    border: 5px solid #ffffff;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);

}

.amigos {
    display: flex;
    justify-content: center;
    justify-content: space-around;
}

.rolla,
.carv,
.miguel,
.vitor {
    width: 100px;
    margin-left: 10px;
    border: 5px solid #ffffff;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.imagem {
    border: 5px solid #ffffff;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.link {
    color: rgb(29, 35, 46);
    text-decoration: none;
}

.redes-sociais {
    display: flex;
}

.fa-brands {
    font-size: 30px;
    width: 35px;
    height: 35px;
    cursor: pointer;
}

.titulos {
    margin-left: 30px;
    margin-bottom: 5px;
}

hr {
    border-top: 2px solid black;
    margin-top: 5px;
    margin-left: 20px;
    margin-right: 100px;
}

.perfil {
    margin-left: 30px;
}

.rodape {
    background-color: rgb(219, 219, 219);
    color: #fff;
    padding: 20px 0;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.rodape-inf {
    flex: 1;
    margin: 0 20px;
}

.rodape h3 {
    border-bottom: 2px solid #000000;
    padding-bottom: 10px;
}

.rodape p,
.rodape li {
    margin-bottom: 10px;
}

.rodape a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s ease;
}

.rodape a:hover {
    color: #ffffff;
}

/*----------------------------------------
----------------Carrossel:----------------
----------------------------------------*/
.carousel-container {
    position: relative;
    width: 80%;
    margin: auto;
    overflow: hidden;
}
.carousel {
    display: flex;
    transition: transform 0.5s ease-in-out;
}
.carousel-item {
    min-width: 100%;
    box-sizing: border-box;
    text-align: center;
    font-size: 24px;
    padding: 100px 0;
    background-color: #eee;
    border: 1px solid #ccc;
}
.carousel-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    z-index: 1000;
}
.carousel-button.prev {
    left: 10px;
}
.carousel-button.next {
    right: 10px;
}